:root {
    --font-family: 'Courier New', Courier, monospace;
    --highlight-color: #1da1f2;
}
  
.textarea-wrapper,
[data-textarea-box].txb-wrapper {
    position: relative;
    overflow: auto;
    caret-color: #000000;
    color: #000000;
}

.textarea-wrapper .highlight-layer, .txb-highlight-layer,
.textarea-wrapper textarea,
[data-textarea-box].txb-wrapper .txb-textarea {
    display: block;
    /* Inline axis width */
    inline-size: 100%;
    max-inline-size: 100%;
    /* Progressive enhancement */
    max-inline-size: -webkit-fill-available; /* Chrome/Safari */
    max-inline-size: -moz-available;         /* Firefox */
}

.textarea-wrapper:focus-within,
[data-textarea-box].txb-wrapper:focus-within {
    box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.2);
    border-radius: 10px;
}
  
[data-textarea-box] .txb-textarea,
textarea {
    width: 100%;
    padding: 0;
    border: none;
    background: transparent;
    color: transparent !important;
    caret-color: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    resize: none;
    outline: none;
    line-height: 1.4;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
  
.highlight-layer, .txb-highlight-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: inherit;
    color: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    line-height: 1.4;
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
}
  
[data-textarea-box] .txb-textarea::placeholder,
textarea::placeholder {
    color: black;
    opacity: 1;
}
  
@media (prefers-color-scheme: dark) {
    .textarea-wrapper,
    [data-textarea-box].txb-wrapper {
        position: relative;
        overflow: auto;
        caret-color: #ffffff;
        color: #ffffff;
    }

    [data-textarea-box] .txb-textarea,
    textarea {
        caret-color: inherit;
    }
    
    [data-textarea-box] .txb-highlight,
    .highlight-layer, .txb-highlight-layer {
        color: inherit;
    }
    
    [data-textarea-box] .txb-textarea::placeholder,
    textarea::placeholder {
        color: white;
    }
}
  
@media (max-width: 480px) {
    .highlight-layer, .txb-highlight-layer {
        min-height: 48px;
        padding: inherit;
    }
}

[data-textarea-box] .txb-highlight.hashtag,
[data-textarea-box] .txb-highlight.mention,
[data-textarea-box] .txb-highlight.url,
[data-textarea-box] .txb-highlight.cashtag,
.highlight.hashtag,
.highlight.mention,
.highlight.url,
.highlight.cashtag {
  color: var(--highlight-color);
}

[data-textarea-box] .txb-limit-content,
.limit-content {
    --limit-color: #8a0d20;
    background-color: var(--limit-color);
    color: #fff;
    border: 3px solid var(--limit-color);
    border-right: 0;
    border-left: 0;
}